.form {
    width: 100%;
    max-width: 300px;
    padding: 2em 1.5em;
    background-color: white;
    position: relative;
}

.form__x {
    position: absolute;
    right: 1em;
    font-size: 1.5rem;
    color: red;
    top: 0.8em;
    cursor: pointer;
    transition: transform 100ms ease;
}


.form__title {
    text-align: center;
    margin-bottom: 0.5em;
}

.form__div {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    margin-bottom: 0.8em;
}

.form__div:nth-child(7) {
    margin-bottom: 2em;
}

.form__label {
    font-weight: 200;
    position: relative;
    left: 0.8em;
}

.form_input {
    font-size: 1.1rem;
    padding: 0.5em 0.8em;
    border-radius: 0.2em;
    border: 1px solid rgb(53, 50, 50);
    background-color: rgb(232, 237, 240);
}

.form__btn {
    width: 100%;
    padding: 0.9em;
    color: white;
    background-color: rgb(45, 35, 179);
    font-size: 1.1rem;
}

.form__btn:hover {
    filter: brightness(1.2);
    box-shadow: 0 0 0.5em #0005;
}